/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require foundation_and_overrides
 *= require_self


 */

.top-bar {
  background-color: #1779ba;
  height: 120px;
  padding-left: 25px;
}

.top-bar-button {
  color: white;
  vertical-align: middle;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  height: 40px;
  width: 120px;
  margin-right: 40px;
}

 .home-page-background {
  background-image: url("https://images.unsplash.com/photo-1518101645466-7795885ff8f8?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&dl=anna-kolosyuk-4R6pg0Iq5IU-unsplash.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  background-attachment: scroll;
 }

.home-page-first-row {
  padding: 0%;
  text-align: center;
  text-decoration-color: black;
  margin-top: 50px;
  margin-left: 100px;
  min-height: 200px;
  max-width: 275px;
  background-position: right bottom;
  background-size: contain;
}

.home-page-first-row-text {
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}

.home-page-first-row-link {
  font-weight: bold;
  margin-left: 33%;
  vertical-align: center;
  text-align: center;
  background-color: #1779ba;
  border-style: solid;
  border-color: black;
  width: 100px;
  height: 40px;
}

.home-page-second-row-text {
  width: 200px;
  height: 500px;
  text-align: center;
  margin-top: 10px;
  margin-left: 450px;
  font-weight: bold;
  font-size: 20px;
}

.home-page-second-row {
  margin-left: 500px;
  min-height: 400px;
}

.home-page-second-row-link {
  font-weight: bold;
  margin-left: 25%;
  vertical-align: middle;
  text-align: center;
  background-color: #1779ba;
  border-style: solid;
  border-color: black;
  width: 100px;
  height: 40px;
}

.charity-index-page-background {
  background-image: url("https://images.unsplash.com/photo-1516558781830-2c603b601b59?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&dl=jessica-podraza-ZvNaAGYVlEc-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  opacity: 75%;
 }

.card {
  width: 300px;
  font-weight: bold;
  border-style: solid;
  border-color: black;
  display: inline-block;
  margin: 10px;
}

#charity-index-title {
  padding-top: 10px;
  color: #1779ba;
  text-align: center;
}

.charity-index-name {
  text-align: left;
  font-weight: bold;
  font-style: oblique;
  height: 80px;
  vertical-align: middle;
}

.charity-index-image {
  margin-left: 25%;
  width: 50%;
  max-width: 240px;
}

.charity-show-header {
  background-color: lightblue;
}

.event-show-header {
  background-color: lightblue;
}

.charity-index-name {
  height: 100px;
}

.event-tile-card {
height: 380px;
margin-left: 5px;
}

.event-tile-name{
  height: 80px;
}
.event-tile-image {
  margin-left: 12.5%;
  margin-bottom: 12.5%;
  width: 180px;
  height: 120px;
}

.event-tile-date {
  margin-bottom: 0px;
}

#event-name-container {
  background-color: yellow;
  text-align: center;
  padding: 5px, 5px;
  stroke: solid 1px black;
  border-style: solid;
  border-color: black;
}

#charity-name-container {
  background-color: yellow;
  text-align: center;
  padding: 5px, 5px;
  stroke: solid 1px black;
  border-style: solid;
  border-color: black;
}

.charity-left-container {
  background-color: lightblue;
  padding-left: 10px;
  stroke: solid 1px black;
}

.charity-show-image {
  margin-left: 18%;
  margin-bottom: 10px;
  margin-top: 20px;
  width: 400px;
  height: 300px;
  border-style: solid;
  border-color: black;
  border-spacing: 2px;
}

.event-show-mission {
  border-style: solid;
  border-color: black;
  padding: 10px;
  margin: 10px;
  background-color: white;
}

.charity-show-container {
  height: 400px;
  border-style: solid;
  border-color: black;
}

.list-block {
  margin-left: 50px;
}

#mission-block {
  margin-top: 15px;
  margin-right: 20px;
}

#contact-block {
  margin-right: 25px;
}

#address-block {
  margin-right: 25px;
}


.charity-show-container {
  background-color: #1779ba;
  color: white;
}

.charity-show-tabs {
  background-color: white;
  color: #1779ba;;
  width: 300px;
  padding-left: 10px;
}

.contact-info-container {
  color: white;
  border-style: solid;
  border-color: black;
  margin-top: 50px;
}

.address-info-container {
  color: white;
  border-style: solid;
  border-color: black;
  margin-top: 50px;
}

.mission-statement-container {
  width: 800px;
  color: white;
  border-style: solid;
  border-color: black;
  margin-top: 50px;
  padding: 10px;
}

.charity-show-container-button {
  background-color: steelblue;
  width: 200px;
  margin-top: 100px;
  margin-left: 42%;
}

#red-container {
  background-color: red;
  padding-left: 10px;
  stroke: solid 1px black;
  height: 750px;
  padding-top: 20px;
}

.charity-show-phone {
  border-style: solid;
  border-color: black;
  padding: 10px;
  margin: 10px;
  background-color: white;
}

.charity-show-contact {
  border-style: solid;
  border-color: black;
  padding: 10px;
  margin: 10px;
  background-color: white;
}

/* .charity-show-important-links {
  border-style: solid;
  border-color: black;
  padding: 10px;
  margin: 10px;
  background-color: white;
} */

.charity-show-address {
  border-style: solid;
  border-color: black;
  padding: 10px;
  margin: 10px;
  background-color: white;
}

.charity-show-website-link {
  text-align: center;
  text-decoration: underline;
  width: 200px;
  border-style: solid;
  border-color: black;
  padding: 10px;
  margin-left: 75px;
  margin-right: 50px;
  background-color: white;
  display:inline-block;
}

.charity-show-donation-link {
  text-align: center;
  text-decoration: underline;
  width: 200px;
  border-style: solid;
  border-color: black;
  padding: 10px;
  background-color: white;
  display:inline-block;
}

#green-container {
  background-color: green;
  padding: 5px, 5px;
  stroke: solid 1px black;
  height: 200px
}
