/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require foundation_and_overrides
 *= require_self


 */

.top-bar {
  background-color: #1779ba;
  height: 140px;
  padding-left: 25px;
  border-bottom: solid;
  border-color: black;
}

.top-bar-button:hover{
  color: gold;
}

#top-bar-logo {
  font-size: 60px;
  text-shadow: 2px 2px #000;
  color: white;
  font-family: 'Permanent Marker', cursive;
}

#top-bar-logo:hover {
  color: gold;
}

.top-bar-button {
  color: white;
  vertical-align: center;
  text-align: center;
  font-size: 32px;
  text-shadow: 2px 2px #000;
  font-weight: bold;
  display: inline-block;
  height: 60px;
  width: 180px;
  margin-right: 40px;
  font-family: 'Permanent Marker', cursive;
}

.top-bar-right-section {
  margin-right: 20px;
}

 .home-page-background {
  background-image: url("https://images.unsplash.com/photo-1518101645466-7795885ff8f8?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&dl=anna-kolosyuk-4R6pg0Iq5IU-unsplash.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  background-attachment: scroll;
 }

.home-page-first-row {
  height:900px;
  font-weight: bold;
  font-size: 20px;
}

.home-page-title {
  color: white;
  font-weight: bold;
  margin-top: 20%;
  padding: 10px;
}

h1.page-title {
  font-size: 48px;
  font-weight: bold;
  text-shadow: 2px 2px #000;
  font-family: 'Vollkorn', serif;
}

.home-charities-link {
  color: white;
  font-size: 20px;
  font-weight: bold;
  vertical-align: center;
  text-align: center;
  background-color: #1779ba;
  border-style: solid;
  border-color: black;
  border-radius: 10%;
  width: 150px;
  height: 40px;
  margin-left: 12.5%;
}

.home-charities-link:hover{
font-size: 28px;
 margin-left: 12.5%;
 height: 60px;
 border: 8px solid #black;
}

.home-events-link {
  color: white;
  font-size: 20px;
  font-weight: bold;
  vertical-align: center;
  text-align: center;
  background-color: #1779ba;
  border-style: solid;
  border-color: black;
  border-radius: 10%;
  width: 150px;
  height: 40px;
  margin-left: 60%;
}

.home-events-link:hover{
 font-size: 28px;
 margin-left: 60%;
 height: 60px;
 border: 8px solid #black;
}

.home-page-second-row {
  height: 900px;
  font-weight: bold;
  font-size: 20px;
}

.charity-index-page-background {
  background-image: url("https://images.unsplash.com/photo-1516558781830-2c603b601b59?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&dl=jessica-podraza-ZvNaAGYVlEc-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-style: solid;
  height: 1000px;
  border-color: black;
 }

.card {
  width: 600px;
  font-weight: bold;
  border-style: solid;
  border-color: black;
  display: inline-block;
  margin: 10px;
  box-shadow: 5px 5px #888888;
  width: 120%;
}

.card:hover{
 margin-top: 5px;
 margin-bottom: 10px;
 margin-left: 20px;
 margin-right: 10px;
 border: 8px solid #FEE59D;
}

.card-section {
  margin: 0px;
  padding: 10px;
}

#charity-index-title {
  font-size: 56px;
  padding-top: 5px;
  color: #1779ba;
  text-align: center;
  font-family: 'Vollkorn', serif;
}

#charity-index-line {
  font-size: 30px;
  padding-top: 5px;
  color: #1779ba;
  text-align: center;
  font-family: 'Vollkorn', serif;
}

#charity-index-name {
  font-size: 22px;
  font-weight: bold;
  height: 80px;
  text-align: center;
  vertical-align: text-top;
}

.card-divider {
  background-color: white;
}

.charity-index-citystate {
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.charity-index-image {
  padding-top: 0px;
  height: 200px;
  max-width: 240px;
  background-size: contain;

}

.charity-index-tagline {
  margin: 0px;
  height: 150px;
  font-style: italic;
  padding: 2px;
  font-size: 16px;
  overflow: scroll;
}

.charity-container {
  height: 500px;
}

.charity-name-container {
  font-size: 48px;
  margin-top: 50px;
  margin-right: 10px;
  color: white;
  background-color: #1779ba;
  padding: 5px, 5px;
  stroke: solid 1px black;
  border-style: solid;
  border-color: black;
}

#charity-name-container {
  font-family: 'Vollkorn', serif;
  margin-top: 12px;
  height: 80px;
  font-size: 32px;
  font-weight: bold;
}

.charity-show-image {
  margin-left: 18%;
  margin-bottom: 10px;
  margin-top: 20px;
  width: 400px;
  height: 300px;
  border-style: solid;
  border-color: black;
  border-spacing: 2px;
}

.charity-show-website-link {
  font-size: 16px;
  text-align: center;
  width: 130px;
  height: 50px;
  margin-left: 20%;
}

.charity-show-website-link:hover {
  padding-top: 0px;
  font-size: 20px;
  height: 60px;
  border: 8px solid white;
}

.charity-show-donation-link {
  font-size: 16px;
  text-align: center;
  width: 130px;
  height: 50px;
  margin-left: 5px;
}

.charity-show-donation-link:hover {
  padding-top: 0px;
  font-size: 20px;
  height: 60px;
  border: 8px solid #white;
}

.charity-image-container {
  height: 400px;
  border-style: solid;
  border-color: black;
  display: inline-block;
}

.list-block {
  width: 600px;
  margin-left: 20px;
}

.charity-show-tile-button {
  font-size: 24px;
  text-align: center;
  width: 300px;
  margin-left: 20%;
  margin-top: 10px;
}

.charity-show-container {
  margin-top: 50px;
  padding-left: 10px;
  background-color: #1779ba;
  color: white;
  display: inline-block;
  border-style: solid;
  border-color: black;
  height: 600px;
  width: 160px;
}

.charity-show-tabs {
  font-family: 'Vollkorn', serif;
  color: white;
  background-color: #1779ba;
  width: 600px;
  padding-left: 10px;
}

#mission-block {
  border-style: solid;
  font-size: 24px;
  margin-top: 15px;
  margin-left: 50px;
  padding: 20px;
  background-color: #1779ba;
  color: white;
}

#mission-block:hover {
  font-size: 28px;
  border-style: solid;
  border-color: white;
  color: gold;
}


#contact-block {
  border-style: solid;
  font-size: 24px;
  margin-top: 15px;
  margin-left: 50px;
  background-color: #1779ba;
  color: white;
}

#contact-block:hover {
  font-size: 28px;
  color: gold;
}

#address-block {
  border-style: solid;
  font-size: 24px;
  margin-top: 15px;
  margin-left: 50px;
  background-color: #1779ba;
  color: white;
}

#address-block:hover {
  font-size: 28px;
  color: gold;
}

.contact-info-container {
  width: 600px;
  color: white;
  border-style: solid;
  margin-left: 10px;
  margin-top: 5px;
  padding: 25px;
}

.address-info-container {
  width: 600px;
  color: white;
  border-style: solid;
  margin-left: 10px;
  margin-top: 5px;
  padding: 25px;
}

.mission-statement-container {
  width: 600px;
  color: white;
  border-style: solid;
  margin-left: 10px;
  margin-top: 5px;
  padding: 25px;
}

.address-container-google-maps {
  width: 600px;
  margin-top: 20px;
}

.show-container-info-header {
  padding: 0px;
  margin: 0px;
}

.show-container-info {
  padding: 0px;
  margin-top: 0px;
}

.event-tile-card {
  height: 420px;
  width: 110%;
}

#event-tile-name {
  margin-top: 0px;
  padding-top: 0px;
  height: 80px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  border-bottom: solid;
}


.event-tile-image-tile {
  height: 150px;
  .event-tile-image {
    height: inherit;
    overflow: hidden;
    }
  }

.event-tile-date {
  font-size: 20px;
  padding-top: 0px;
  margin: 0px;
  text-align: bottom;
}

.event-tile-time {
  font-size: 20px;
  padding-top: 0px;
  margin: 0px;
  text-align: bottom;
}

.event-tile-citystate {
  font-size: 20px;
  padding-top: 0px;
  margin: 0px;
  text-align: bottom;
}

.event-index-page-background {
  background-image: url("https://scontent.fbed1-2.fna.fbcdn.net/v/t31.0-8/13247837_10154248557224036_506737132975606134_o.jpg?_nc_cat=102&_nc_oc=AQmZUiVEJoUMyOHzoeM5fQiLKviEwTtXU1rNBdnNrkBOM_zy64AXET2VKvMR8RYNcaO75rRRYpWxGSrX9eBb4ocd&_nc_ht=scontent.fbed1-2.fna&oh=1db24ce5ce48a5807c79143bab56a21e&oe=5E5B50C3");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-style: solid;
  border-color: black;
  margin-top: 10px;
  height: 1000px;
 }

.event-show-header {
  color: #1779ba;
  margin-bottom: 20px;
  text-shadow: 0.5px 0.5px #000;
}

.event-show-image {
  margin-left: 12.5%;
  width: 75%;
  background-color: #1779ba;
  border-style: solid;
  border-color: black;
}


.event-show-address {
  color: white;
  background-color: #1779ba;
  height: 300px;
}

.event-show-description {
  color: white;
  background-color: #1779ba;
  border-style: solid;
  border-color: black;
  margin-left: 10px;
  padding-top: 10px;
  padding-left: 25px;
}

#event-show-venue {
  padding-right: 0px;
}

.event-show-website {
  border-style: solid;
  border-color: black;
  background-color: #1779ba;
  width: 50%;
  height: 50px;
  font-size: 24px;
  margin-right: 25%;
  margin-top: 10px;
}

.event-show-website:hover {
  font-size: 28px;
  border-style: solid;
  border-color: gold;
}

#event-name-container {
  text-align: center;
  padding: 5px, 5px;
  stroke: solid 1px black;
  border-style: solid;
  border-color: black;
}

.new-event-form {
  color: white;
  background-color: #1779ba;
  border-style: solid;
  border-color: black;
}

.new-event-form-venue-info {
  text-decoration: underline;
  padding-top: 5px;
}

.new-event-form-event-info {
  text-decoration: underline;
  padding-top: 5px;
}

.new-event-form-button {
  margin-top: 20px;
  margin-bottom: 20px;
}
